<% @posts.each do |p| %>
<div class="panel panel-default post-panel">
  <div class="panel-body row">
    <div class="col-sm-1">
      <img class="rounded-img" src="/avatar.png" width="50px" height="50px"></img>
    </div>
    <div class="col-sm-11">
      <p class="post-title">
        <span class="post-owner"><%= User.find(p.user_id).username %></span>
        <span class="post-creation"> - <%= p.created_at.to_formatted_s(:short) %></span>
      </p>
      <p class="post-content"><%= p.content %></p>
    </div>
    <div class="col-sm-12">
      <p class="post-links">
        <span class="glyphicon glyphicon-comment g-links" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-retweet g-links" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-heart g-links" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-option-horizontal g-links" aria-hidden="true"></span>
        <a href="">View Conversation</a>
      </p>
    </div>
  </div>
</div>
<% end %>
<div class="panel panel-default post-panel">
  <div class="panel-body row">
    <div class="col-sm-12">
      <center>
        <img src="/bluebird.png" height="25px" width="25px"></img>
        <p><a href="#top" style="opacity:0.7; color:grey; margin-left:70px">
          Back to Top
          <span class="glyphicon glyphicon-arrow-up g-links" aria-hidden="true"></span>
        </a></p>
      </center>
    </div>
  </div>
</div>
