<div class="panel panel-default post-form-panel">
  <div class="panel-body row">
    <div class="col-sm-1">
      <img class="rounded-img" src="/avatar.png" width="35px" height="35px"></img>
    </div>
    <div class="col-sm-11">
      <%= form_for(@newPost) do |f| %>
        <div class="field" style="margin-left:10px;">
          <%= f.text_field :content, autofocus: true, class: "form-control"%>
          <p type="button" style="margin-top:3px; float:right;">
            <%= f.submit "Add Post", class: "btn btn-primary" %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
