<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h5 style="color: grey; font-size: 125%;">Explore</h5>
        <p style="opacity: 0.5; font-size: 90%;">
          This page aggregates posts from ALL users. This means that you can find new people to follow,
          and your posts will also appear here so other people can see your opinions and interests and follow you
          if they chose.
        </p>
      </div>
    </div>
    <%= render '/components/trends' %>
  </div>
  <div class="col-xs-6">
    <!-- Mostrar formulari per afegir posts -->
    <%= render '/components/post_form' %><br><br>
    <!-- Mostrar llista de posts -->
    <%= render '/components/posts_list' %>
  <div class="col-xs-3">
    <%= render '/components/who_to_follow' %>
    <div class="panel panel-default">
      <div class="panel-body">
        <p style="opacity:0.5">@ Flutter  About  Help  Terms  Privacy  Cookies  Ads  Info  Brand  Blog  Status  Apps  Jobs  Advertise  Businesses  Media  Developers</p>
      </div>
    </div>
  </div>
</div>
