<% if !user_signed_in? # Si l'usuari no està connectat, mostra el següent %>

  <style>
    body{
      background:
        /* film transparent sota la imatge de background, per fer-la més fosca */
        linear-gradient( rgba(0,0,0,0.7), rgba(0,0,0,0.7) ),

        /* No repeteir la imatge, centrar eix x i eix y, i que el scroll no canvii la posició */
        url("/bg.jpg") no-repeat center center fixed
      ;

      /* Cobreix tot el document html */
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    h1{
      color: white;
      font-weight: bold;
    }
    .container-index{
      margin-right: 15%;
      margin-left: 15%;
    }
    .text{
      color: white;
      font-size: 150%;
      font-weight: 300;
    }
    .log-in{
      float: right;
      width: 300px;
      height: 150px;
      margin-top: 7.5%;
    }
    .sign-up{
      float: right;
      width: 300px;
      height: 250px;
    }
  </style>

  <div class="container-index row">
    <div class="col-sm-6">
      <h1>Welcome to Flutter</h1>
      <p class="text">
        No t'agrada escriure o llegir, <br>
        però vols seguir estant connectat amb <br>
        els teus amics i la resta del món?<br><br>
        Entra a Flutter i diverteix-te!<br>
        Simplement és un blog on no s'hi pot escriure gaire.
      </p>
    </div>
    <div class="col-sm-6">
      <div class="log-in panel">
        Log-in
      </div>
      <div class="sign-up panel">
        Sign-up
      </div>
    </div>
  </div>

<% else # Si l'usuari està connectat, mostra el següent %>
  <script type="text/javascript">
    document.location="/home"
  </script>
<% end %>
