<!-- 1a fila -->
<div class="row">
  <div class="col-xs-3">
     <div class="col-sm-12" style="margin-top: -200px;">
           <img src="/avatar.png" height="200px" width="200px" class="rounded-img" style="border-style:solid; border-width:10px; border-color:white;">
     </div>
     <div class="col-sm-12">
       <h3 style="font-weight: bold;"><%= params[:id] %></h3>
       <p>
         Full-Length Project-Based Tutorials on Engineering, Business & Design. Also on YouTube <a href="http://www.youtube.com/devfactor">http://www.youtube.com/devfactor</a>
       </p>
     </div>
   </div>
  <div class="col-xs-6">
    <!-- Mostrar formulari per afegir posts -->
    <%= render '/components/post_form' %>
    <!-- Mostrar tots els posts -->
    <%= render '/components/posts_list' %>
  </div>
  <div class="col-xs-3">
    <%= render '/components/follow_button', :user => User.find_by_username(params[:id]) %>
    <%= render '/components/who_to_follow' %>
    <%= render '/components/trends' %>
  </div>
</div>

<!-- 3a fila. La treiem i la posem a dins de la segona fila a la 3a columna, perque
si no, per cada tweet, la 3a fila s'en va més avall.
<div class="row">
  <div class="col-xs-3 col-xs-offset-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>trend</p>
      </div>
    </div>
  </div>
</div>
-->
