/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * Em tret la linia require_self i require_tree ja que només importen arxius css i nosaltres necessitem
 * arxius scss , al fer servir el framework boostrap.
 * Per importar arxius scss, fem servir @import "";
 */

// Per tenir els components de Twitter UI
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

 @import "pages.scss";

body{
  background-color: rgba(212, 216, 212, 0.25);
}
.navbar{
  background-color: white;
}
.navbar-brand{
  position: absolute;
  left: 47%;
}
.rounded-img{
  border-radius: 5%;
}
