<!-- We'll render separate nav bars depending on if the user is sign in or not.
Renderitzarem separadament la barra de navegació depenent de si l'usuari
esta connectat o no. -->
<% if !user_signed_in? %>
  <%= render '/layouts/nav_guest' %>
<% else %>
  <%= render '/layouts/nav_user' %>
<% end %>
